{% extends 'base/base.html' %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/style.css' %}" />
{% endblock %} 

{% block content %}
<div class="container">
  <main class="main-feed">
    <form
      method="post"
      enctype="multipart/form-data"
      action="{% url 'create_post' %}"
    >
      {% csrf_token %}
      <div class="create-post">
        <div class="post-input">
          <div class="post-avatar">
            {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="{{ user.full_name }}" />
            {% else %} {{ user.full_name|slice:":2" }} {% endif %}
          </div>
          <textarea
            name="content"
            class="post-textarea"
            placeholder="Bạn đang nghĩ gì?"
          ></textarea>
        </div>
        <div class="post-actions">
          <div class="post-options">
            <label for="image-upload" class="custom-file-upload">
              📷 Chọn ảnh
            </label>
            <input
              id="image-upload"
              type="file"
              name="media"
              accept="image/*"
            />
          </div>
          <button type="submit" class="post-btn">Đăng bài</button>
        </div>
      </div>
    </form>

    {% for post in posts %}
    <article class="post">
      <div class="post-header"  style="position: relative;">

    <!-- Nút delete -->
    {% if post.user == user %}
    <button class="delete-post-btn" onclick="deletePost({{ post.id }})" 
            style="position: absolute; top: 5px; right: 5px; background: transparent; border: none; cursor: pointer; font-size: 18px;">
        ✖
    </button>
    {% endif %}

    <div class="post-avatar">
        <a href="{% url 'personal_with_id' post.user.id %}" style="text-decoration:none">
            {% if post.user.avatar %}
                <img src="{{ post.user.avatar.url }}" alt="{{ post.user.full_name }}" />
            {% else %} 
                {{ post.user.full_name|slice:":2" }} 
            {% endif %}
        </a>
    </div>
    <div class="post-user-info">
        <a href="{% url 'personal_with_id' post.user.id %}" class="user-link" style="text-decoration:none;color:black">
            <h4>{{ post.user.full_name }}</h4>
        </a>
            <div class="post-time">{{ post.created_at|timesince }} ago</div>
    </div>
      </div>
      <div class="post-content">{{ post.content }}</div>
      {% if post.media %}
      <div class="post-media">
        <img src="{{ post.media.url }}" alt="Hình ảnh dự án" />
      </div>
      {% endif %}
      <div class="post-engagement">

        <button class="engagement-btn {% if post.id in user_liked_posts %}liked{% endif %}" onclick="likePost(this, {{ post.id }})">
            <span>❤️</span>
            <span class="count">{{ post.likeCount }}</span>
        </button>

        <button class="engagement-btn" onclick="openModal()">💬 {{ post.commentCount }}</button>
      </div>
    </article>
    {% endfor %}
  </main>
</div>
{% endblock %} 

{% block extra_js %}
<script src="{% static 'home/script.js' %}" defer></script>
{% endblock %}
